# lines that begin with # are comments.
*.db
*.db-journal
*.egg-info
*.log
*.py[co]
*-env
*.env
*_build
.coverage
.DS_Store
.idea
.project
.pydevproject
.pydevproject.bak
.settings
.tmp_*
.tox
build/*
dist
local_settings.py
nosetests.xml
pylint.txt
reports
settings_local.py
settings_local_test.py
settings_test_local.py
style-*_.css
*/staticroot
*.virtualenv
*.virtualenv3
*.virtualenv36
