[tool.black]
line-length = 88
target-version = ['py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
  # The following are specific to Black, you probably don't want those.
  | blib2to3
  | tests/data
  | profiling
)/
'''

[tool.coverage.run]
branch = true
omit = [
    "*/__init__.py",
    "*/apps.py",
    "*/devscripts*",
    "*/docs/*",
    "*/local_settings_template.py",
    "*/manage.py",
    "*/migrations/*",
    "*/settings*",
    "*/setup.py",
    "*/tests*",
    "*/wsgi.py"
]

[tool.poetry]
authors = ["Tim White <tim@cyface.com>"]
classifiers = ["Development Status :: 5 - Production/Stable", "Framework :: Django", "Intended Audience :: Developers", "License :: OSI Approved :: MIT License", "Operating System :: OS Independent", "Programming Language :: Python :: 3.6", "Programming Language :: Python :: 3.7", "Programming Language :: Python :: 3.8", "Topic :: Internet :: WWW/HTTP"]
description = "Django app that enables users to accept terms and conditions of a site."
homepage = "https://github.com/cyface/django-termsandconditions"
license = "BSD"
name = "django-termsandconditions"
packages = [{ include = "termsandconditions" }, ]
readme = "README.md"
version = "2.0.11"

[tool.poetry.dependencies]
python = ">=3.6,<4.0"
Django = ">2.2"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
coverage = {extras = ["toml"], version = "^6.2"}
poetry = "^1.2.2"
pylint = "^2.15.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
