#tc-terms-html {width:80%;margin: auto;border: 1px solid #666;background-color: #ccc;padding: 8px;}
#tc-terms-form {text-align: center;}
.errorlist li {font-weight: bold;margin: 15px 15px 15px 15px;color:#ff0000;}