{% extends terms_base_template %}

{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Accept Terms and Conditions' %}{% endblock %}
{% block styles %}
    {{ block.super }}
    <link href="{% static 'termsandconditions/css/view_accept.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section id="termsandconditions-section" title="{% trans 'Terms and Conditions' %}" data-role="content">
        {{ form.errors }}
        {% for terms in form.initial.terms %}
            <h1>{% trans 'Please Accept' %} {{ terms.name|safe }} {{ terms.version_number|safe }}</h1>
            {% if terms.info %}
                <h4>{% trans 'Summary of Changes' %}</h4>
                <div class="toc-container">
                    {{ terms.info|safe }}
                </div>
                <h4>{% trans 'Full Text' %}</h4>
            {% endif %}
            <div class="toc-container">
                <div id="tc-terms-html">
                    {{ terms.text|safe }}
                </div>
            </div>

            <p><a href="{% url "tc_print_page" terms.slug|safe terms.version_number|safe %}"
                  target="_blank">{% trans 'Print' %} {{ terms.name|safe }}</a></p>
        {% endfor %}
        <form action="{% url 'tc_accept_page' %}" method="post" id="tc-terms-form" data-ajax="false">
            {% csrf_token %}
            {{ form.terms }}
            {{ form.returnTo }}
            <p><input type="submit" value="{% trans 'Accept' %}{% if form.initial.terms|length > 1 %} {% trans 'All' %}{% endif %}" data-role="button"></p>
        </form>
    </section>
{% endblock %}