{% extends terms_base_template %}

{% load i18n %}

{% block headtitle %}{% translate 'Email Terms and Conditions' %}{% endblock %}

{% block content %}
    <section aria-label="{% translate 'Terms and Conditions' %}">
        <h1>{% translate 'Email' %} {{ form.initial.terms.name|safe }}</h1>
        <form action="{% url 'tc_email_page' %}" method="post" id="tc-email-form">
            {% csrf_token %}
            <label for="{{ form.email_address.id_for_label }}">{% translate 'Email To:' %}</label>{{ form.email_address }}
            {{ form.terms }}
            <input type="hidden" id="id_email_subject" name="email_subject"
                   value="{% translate 'You Requested:' %} {{ form.initial.terms }}">
            <p><button type="submit">{% translate 'Send' %}</button></p>
        </form>
    </section>
{% endblock %}
