{% extends terms_base_template %}

{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'View Terms and Conditions' %}{% endblock %}
{% block styles %}
    {{ block.super }}
    <link href="{% static 'termsandconditions/css/view_accept.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section title="{% trans 'Terms and Conditions' %}" data-role="content">
        {% for terms in terms_list %}
            <h1>{{ terms.name|safe }} {{ terms.version_number|safe }}</h1>

            <div class="toc-container">
                {{ terms.text|safe }}
            </div>
            <p><a href="{% url 'tc_print_page' terms.slug|safe terms.version_number|safe %}"
                      target="_blank">{% trans 'Print' %} {{ terms.name|safe }}</a></p>
        {% endfor %}
    </section>
{% endblock %}