[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-jenkins = "*"
coverage = "*"
coveralls = "*"
pylint = "*"
psycopg2 = "*"
sphinx-autobuild = "*"
sphinx = "*"

[packages]
future = "*"
Django = ">2.0"

[requires]
python_version = "3.6"
