{% load staticfiles %}
{% load i18n %}

{% if not_agreed_terms %}
    <link rel="stylesheet" type="text/css" href="{% static 'termsandconditions/css/modal.css' %}">
    <script src="{% static 'termsandconditions/js/modal.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      termsandconditions_overlay();
    }, false);
    </script>

    <div id="termsandconditions" class="termsandconditions-modal">
        <div id="toc-header">
            <h6>Our Terms and Conditions Have Changed</h6>
            <a href='javascript:void(0)' onclick='termsandconditions_overlay();' title="{% trans 'Close' %}" class="toc-close">&times;</a>
        </div>
        <div id="toc-content">
            <div id="toc-body">
                <span>Changes have been made to our </span>
                {% for terms in not_agreed_terms %}
                    {% if not forloop.first and not forloop.last %}<span>, </span>{% endif %}
                    {% if forloop.last and not_agreed_terms|length > 2 %}<span>, and </span>{% elif forloop.last and not_agreed_terms|length > 1 %}<span> and </span>{% endif %}
                    <a class="terms-link" href="{% url 'tc_accept_specific_page' terms.slug %}{% if returnTo %}?returnTo={{ returnTo }}{% endif %}">{% if terms.name %}{{ terms.name|safe }}{% endif %}</a>
                {% endfor %}
                <span> document{{ not_agreed_terms|length|pluralize }}. Please, review and accept the changes to prevent future interruptions.</span>
            </div>
            <div id="toc-footer">
                <a class="toc-accept-all-btn" href="{% url 'tc_accept_page' %}{% if returnTo %}?returnTo={{ returnTo }}{% endif %}">{% trans 'ACCEPT ALL' %}</a>
            </div>
        </div>
    </div>
{% endif %}

