{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>{% block headtitle %}Django Terms and Conditions{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/termsandconditions.css' %}">
    {% endblock %}
    {% block metatags %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

{% block header %}{% include "header.html" %}{% endblock %}

<main>
    {% block messages %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}

    {% block content %}<p>No Content Defined</p>{% endblock %}
</main>

{% block footer %}{% include "footer.html" %}{% endblock %}

{% block bottom_js %}{% endblock %}
</body>
</html>
