<header data-role="header" data-position="fixed">
    <div data-role="navbar">
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'tc_demo_home_page' %}" data-icon="home">Home</a></li>
                <li><a href="{% url 'logout' %}" data-icon="delete">Sign Out</a></li>
            {% else %}
                <li><a href="{% url 'tc_demo_home_page' %}" data-icon="home">Home</a></li>
                <li><a href="{% url 'login' %}" data-icon="user">Sign In</a></li>
            {% endif %}
        </ul>
    </div>
</header>