<header>
    <nav aria-label="Main">
        <ul>
            <li><a href="{% url 'tc_demo_home_page' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="link-button">Sign Out</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Sign In</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
