w{% extends "base.html" %}

{% block headtitle %}Django Terms and Conditions Demo - Home{% endblock %}

{% block body_class %}{% endblock %}

{% block head %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section title="Welcome" data-role="content">
        {% if not user.is_authenticated %}
            <h3>Click the button below to get started.</h3>

            <p>You'll be asked to accept the site terms and conditions.</p>

            <a href="{% url tc_demo_secure_page %}" data-role="button" data-ajax="false">Get Started</a>
        {% else %}
            <h2>Thank you for signing in, {{ user.username }}.</h2>
            <a href="{% url tc_demo_secure_page %}" data-role="button" data-ajax="false">Return to Secure Area</a>
        {% endif %}
    </section>
{% endblock %}
