{% extends "base.html" %}

{% block headtitle %}Django Terms and Conditions Demo - Home{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section aria-label="Welcome">
        {% if not user.is_authenticated %}
            <h1>Django Terms and Conditions Demo</h1>

            <p>You'll be asked to accept the site terms and conditions.</p>

            <p><a class="button" href="{% url 'tc_demo_secure_page' %}">Get Started</a></p>
        {% else %}
            <h1>Thank you for signing in, {{ user.username }}.</h1>

            <p><a class="button" href="{% url 'tc_demo_secure_page' %}">Return to Secure Area</a></p>
        {% endif %}
    </section>
{% endblock %}
